extends layout

block content

  - if (true) 
    .row
      .col-6
        form(action='/carteleras/create' method="POST")
          .form-group
            label(for='id_sede') 
            select#ubicacion.form-control(type='select' name='id_sede' required).custom-select
                option(value="" selected) ...
                - for (let i = 0; i < sedes.length; i++)
                  option(value=`${sedes[i].id_sede}`) #{sedes[i].ubicacion}
          .form-group
            label(for='id_pelicula') 
            select#ubicacion.form-control(type='select' name='id_pelicula' required).custom-select
                option(value="" selected) ...
                - for (let i = 0; i < peliculas.length; i++)
                  option(value=`${peliculas[i].id_pelicula}`) #{peliculas[i].titulo}
          .form-group
            label(for='id_censura') 
            select#ubicacion.form-control(type='select' name='id_censura' required).custom-select
                option(value="" selected) SELECCIONAR CENSURA
                  option(value=1) A
                  option(value=2) B
                  option(value=3) C
                  option(value=4) D
          .form-group
            label(for='idiomas') 
            select#ubicacion.form-control(type='select' name='idiomas' required).custom-select
                option(value="" selected) ...
                - for (let i = 0; i < idiomas.length; i++)
                  option(value=`${idiomas[i].idioma}`) #{idiomas[i].idioma}
          button#boton.agregar(type="submit") AGREGAR CARTELERA
      .contenedor#contenedor
        .col-6


