extends layout

block content

  - if (comida) 
    .row
      .col-6
        .nav
        form(action='/comida/create' method="POST")
          .form-group
            label(for='id_comida') 
            input#seleccionp.form-control(type='text' placeholder='id' name='id_comida' required)
            .form-group
            label(for='id_categoria') 
            input#seleccionp.form-control(type='text' placeholder='categoria' name='id_categoria' required)
            label(for='nombre_comida') 
            input#seleccionp.form-control(type='text' placeholder='nombre' name='nombre_comida' required)        
          button#boton.agregar.comida(type="submit") AGREGAR COMIDA
      .contenedor#contenedor
        .col-6
        table#comida
          thead
            tr
              th ID
              th Categoria
              th Comida 
              th Editar
              th Eliminar
          tbody
          - for (var i = 0; i < comida.length; i++)
            tr
              td #{comida[i].id_comida}
              td #{comida[i].id_categoria}
              td #{comida[i].nombre_comida}
              td  
                  form(action=`/comida/${comida[i].id_comida}`,method="GET")
                  button#editareliminar(type='submit')
                    i.far.fa-edit.fa-lg
              td 
                form(action=`/comida/delete/${comida[i].id_comida}`,method="POST")
                  button#editareliminar(type='submit')
                    i.fas.fa-trash-alt.fa-lg
