extends layout

block content

  - if (true) 
    .row
      .col-6
        form(action='/funciones/create' method="POST")
          .form-group
            label(for='id_sede') 
            select#id_tipo.form-control(type='select' name='id_sede' required).custom-select
                option(value="" selected) SELECCIONAR SEDE
                - for (let i = 0; i < sedes.length; i++)
                  option(value=`${sedes[i].id_sede}`) #{sedes[i].ubicacion}
          .form-group
            label(for='id_cartelera') 
            select#id_tipo.form-control(type='select' name='id_cartelera' required).custom-select
                option(value="" selected) SELECCIONAR PELICULA
                - for (let i = 0; i < PeliculasPorSede.length; i++)
                  option(value=`${PeliculasPorSede[i].id_cartelera}`) #{PeliculasPorSede[i].titulo}
          .form-group
            label(for='id_sala') 
            select#id_tipo.form-control(type='select' name='id_sala' required).custom-select
                option(value="" selected) SELECCIONAR SALA
                - for (let i = 0; i < salas.length; i++)
                  option(value=`${salas[i].id_sala}`) #{salas[i].id_sala}
          .form-group
            label(for='tipo_repro') 
            select#id_tipo.form-control(type='select' name='tipo_repro' required).custom-select
                option(value="" selected) SELECCIONAR TIPO DE REPRODUCCION
                  option(value='Normal') Normal
                  option(value='3D') 3D
                  option(value='4D') 4D
                  option(value='iMax') iMax
                  option(value='Atmos') Atmos
          .form-group
            label(for='disponible') 
            select#id_tipo.form-control(type='select' name='disponible' required).custom-select
                option(value="" selected) SELECCIONAR DISPONIBILIDAD
                  option(value=1) Disponible
                  option(value=0) No disponible
          button#boton.agregar(type="submit") AGREGAR SALA
      .contenedor#contenedor
        .col-6

