extends layout

block content

  
  .contenedor
    .row
      .col-md-7
        - if (!agregarPelicula)
          table
            thead
              tr
                th ID
                th Título
                th Fecha de estreno
                th Descripción
                th Duración
                th Censura
                th Editar
                th Eliminar
            tbody
            - for (var i = 0; i < peliculas.length; i++)
              tr
                td #{peliculas[i].id_pelicula}
                td #{peliculas[i].titulo}
                td #{peliculas[i].fecha_estreno}
                td #{peliculas[i].descripcion}
                td #{peliculas[i].duracion}
                td #{peliculas[i].censura}
                td X
                td X
          a#button.agregar(href='/agregarp/') AGREGAR PELÍCULA
          button#boton.agregar AGREGAR PELÍCULA
        - if (agregarPelicula)
          h1 it works
